@tailwind base;
@tailwind components;
@tailwind utilities;

/* import '@fontsource/roboto'; */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

 h1{
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 600;
}
h2{
  font-size: 2.25rem;
  line-height: 2.5rem;
}

h3{
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  font-stretch: 0.025rem;
}

h4{
  font-size: 1.875rem;
  line-height: 2.25rem;
}

h5{
  font-size: 1.5rem;
  line-height: 2rem;
}

h6{
  font-size: 1.25rem;
  line-height: 1.75rem;
}

p{
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-family: sans-serif;
}

.p_bold{
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 700;
}

.p_light{
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.tag_text{
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.gradient-border {
  /* border-top: 3px solid; */
  border-image: linear-gradient(to right, #3B82F6, #22C55E,#CAFE00);
  border-image-slice: 1;
}

.gradient-text {
  background-image: linear-gradient(to top, #22C55E, #CAFE00);
  -webkit-background-clip: text;
  color: transparent;
}

.skill-image{
  background-image: url('/image/skills-02.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 720px;
  width: 400px;
}

.front-service-1{
  background-image: url('/image/skills-02.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 180px;
  width: 320px;
}

.front-service-2{
  background-image: url('/image/skills-03.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 180px;
  width: 320px;
}
.front-service-3{
  background-image: url('/image/skills-01.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 180px;
  width: 320px;
}

.front-service-4{
  background-image: url('/image/skills-02.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 180px;
  width: 320px;
}

.back-service-1{
  background-image: url('/image/skills-01.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 220px;
  width: 320px;
}

.back-service-2{
  background-image: url('/image/skills-02.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 220px;
  width: 320px;
}


.competitive-image{
  background-image: url('/image/skills-03.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 720px;
  width: 400px;
}

.gallery-wrapper {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 1em;
}
.gallery-wrapper .image-wrapper a {
  padding: 0.5em;
  display: block;
  width: 100%;
  text-decoration: none;
  color: #333;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
  text-align: center;
}
.image-title{text-align: center;}
.gallery-wrapper .image-wrapper a:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.gallery-wrapper .image-wrapper a img {
  width: 100%;
}
.gallery-lightboxes .image-lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0ms ease-in-out;
}
.gallery-lightboxes .image-lightbox:target {
  opacity: 1;
  visibility: visible;
}
.gallery-lightboxes .image-lightbox:target .image-lightbox-wrapper {
  opacity: 1;
  transform: scale(1, 1) translateY(0);
}
.gallery-lightboxes .image-lightbox .image-lightbox-wrapper {
  transform: scale(0.95, 0.95) translateY(-30px);
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
  opacity: 0;
  margin: 1em auto;
  max-width: 75%;
  padding: 0.5em;
  display: inline-block;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  position: relative;
}
.gallery-lightboxes .image-lightbox .image-lightbox-wrapper .close {
  width: 1.5em;
  height: 1.5em;
  background: #000;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border-radius: 50%;
  box-shadow: 0 0 0 2px white inset, 0 0 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  right: -1em;
  top: -1em;
}
.gallery-lightboxes .image-lightbox .image-lightbox-wrapper .close:before {
  content: "";
  display: block;
  width: 10px;
  height: 2px;
  background: #fff;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1px 0 0 -5px;
  transform: rotate(-45deg);
}
.gallery-lightboxes .image-lightbox .image-lightbox-wrapper .close:after {
  content: "";
  display: block;
  width: 10px;
  height: 2px;
  background: #fff;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1px 0 0 -5px;
  transform: rotate(45deg);
}
.gallery-lightboxes .image-lightbox .image-lightbox-wrapper .arrow-left {
  position: absolute;
  top: 0;
  right: 50%;
  bottom: 0;
  left: 0;
}
.gallery-lightboxes .image-lightbox .image-lightbox-wrapper .arrow-left:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-bottom: 0;
  border-right: 0;
  border-radius: 4px 0 0 0;
  position: absolute;
  top: 50%;
  right: 100%;
  cursor: pointer;
  transform: rotate(-45deg) translateY(-50%);
}
.gallery-lightboxes .image-lightbox .image-lightbox-wrapper .arrow-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
}
.gallery-lightboxes .image-lightbox .image-lightbox-wrapper .arrow-right:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-bottom: 0;
  border-left: 0;
  border-radius: 0 4px 0 0;
  position: absolute;
  top: 50%;
  left: 100%;
  cursor: pointer;
  transform: rotate(45deg) translateY(-50%);
}
.gallery-lightboxes .image-lightbox .image-lightbox-wrapper img {
  margin: 0 auto;
  max-height: 70vh;
}

@layer components {
.border_light{
  @apply border-t gradient-border from-c_primary via-c_secondary to-c_ternary;
}

.big_btn{
  @apply bg-gradient-to-r 
}

.btn_main{
  @apply bg-c_bg_dark
}

.bg_content_dark{
  @apply bg-gradient-to-r from-[#18181B] via-[#18181B] to-[#18181B]
}

}